<!-- IF POST_AUTHOR and DYNAMIC_SIDEBAR -->
	<div class="panel bg3">
		<div class="inner"><span class="corners-top"><span></span></span>
			<h3>{L_WP_AUTHOR_TITLE}</h3>
			<!-- INCLUDE wordpress/author_body.html -->
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

<!-- IF DYNAMIC_SIDEBAR -->{DYNAMIC_SIDEBAR}<!-- ENDIF -->

<!-- IF S_RECENT_TOPICS -->
	<div class="panel bg3">
		<div class="inner"><span class="corners-top"><span></span></span>
			<h3>{L_RECENT_TOPICS}</h3>
			<ul class="topiclist topics">

			<!-- BEGIN recettopicsrow -->
				<li class="row<!-- IF recettopicsrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<dl class="icon" style="padding: 2px 5px;">
						<dt style="padding: 0; width:100%;" title="{recettopicsrow.TOPIC_FOLDER_IMG_ALT}">
							<a href="{recettopicsrow.U_LAST_POST}"><b>{recettopicsrow.TOPIC_TITLE}</b></a><br />
							{L_POST_BY_AUTHOR} {recettopicsrow.TOPIC_AUTHOR_FULL}<!-- IF recettopicsrow.REPLIES --> <em>({recettopicsrow.REPLIES} {L_REPLIES})</em><!-- ENDIF --><br />
							<!-- IF recettopicsrow.FORUM_NAME -->{L_FORUM}: <a href="{recettopicsrow.U_VIEW_FORUM}">{recettopicsrow.FORUM_NAME}</a><!-- ENDIF -->
						</dt>
					</dl>
				</li>
			<!-- END recettopicsrow -->

			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->