<!-- IF FOOTER_MENU or PREVIOUS_ENTRIE or NEXT_ENTRIE -->
<div class="navbar">
	<div class="inner"><span class="corners-top"><span></span></span>
	<!-- IF FOOTER_MENU -->{FOOTER_MENU}<!-- ENDIF -->
	<!-- IF PREVIOUS_ENTRIE or NEXT_ENTRIE -->
		<ul class="linklist rightside">
			<li>{PREVIOUS_ENTRIE}<!-- IF PREVIOUS_ENTRIE and NEXT_ENTRIE --> | <!-- ENDIF -->{NEXT_ENTRIE}</li>
		</ul>
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<div class="copyright">
	Blog Copyright &copy; 2013 by <a href="http://www.dion-designs.com"><b>Dion Designs</b></a>. All Rights Reserved.
	<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
</div>
