		<div class="headerbar">
			<div class="inner"><span class="corners-top"><span></span></span>
			<div id="site-description">
				<a href="{U_BLOG}" id="logo">{HEADER_IMAGE}</a>
				<h1>{SITENAME}</h1>
				<p>{SITE_DESCRIPTION}</p>
				<p class="skiplink"><a href="#start_here">{L_SKIP}</a></p>
			</div>
			<span class="corners-bottom"><span></span></span></div>
		</div>
<!-- IF HEADER_MENU --><br /><div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>
{HEADER_MENU}
			<span class="corners-bottom"><span></span></span></div>
		</div><br /><!-- ENDIF -->