
		<h2><a href="{U_TOPIC}" rel="bookmark" title="{TOPIC_SUBJECT}">{TOPIC_SUBJECT}</a></h2>
		<br />

	<!-- BEGIN postrow -->
		<!-- IF postrow.S_FIRST_ROW and not DYNAMIC_SIDEBAR -->
			<!-- DEFINE $COLSPAN = 1 -->
		<!-- ELSE -->
			<!-- DEFINE $COLSPAN = 2 -->
		<!-- ENDIF -->
		<table class="tablebg" width="100%" cellspacing="1" id="<!-- IF postrow.S_COMMENT -->comment-{postrow.POST_ID}<!-- ELSE -->post-{postrow.POST_ID}<!-- ENDIF -->">
			<tr>
				<td class="<!-- IF postrow.S_COMMENT -->row2<!-- ELSE -->cat<!-- ENDIF -->" colspan="2">
					<div style="float: {S_CONTENT_FLOW_END};"><!-- IF S_IS_BOT -->{postrow.MINI_POST_IMG}<!-- ELSE --><a href="{postrow.U_MINI_POST}">{postrow.MINI_POST_IMG}</a><!-- ENDIF -->&nbsp;<b>{L_POSTED}:</b> {postrow.POST_DATE}&nbsp;</div>
				<!-- IF postrow.S_COMMENT -->
				<!-- ELSE -->
					<div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};"><h2>{postrow.POST_SUBJECT}</h2></div>
				<!-- ENDIF -->
				</td>
			</tr>
			<tr class="row1">
				<!-- IF postrow.S_FIRST_ROW and not DYNAMIC_SIDEBAR -->
					<!-- INCLUDE wordpress/author_body.html -->				
				<!-- ENDIF -->
				<td valign="top" colspan="{$COLSPAN}">
					<table width="100%" cellspacing="5">
						<tr>
							<td>
							<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED or postrow.S_POST_TRASHED -->
								<table width="100%" cellspacing="0">
								<tr>
									<td class="gensmall error forumrules"><!-- IF postrow.S_POST_UNAPPROVED -->{UNAPPROVED_IMG} <b>{L_WP_COMMENT_UNAPPROVED}</b><br /><!-- ENDIF --><!-- IF postrow.S_POST_REPORTED -->{REPORTED_IMG} <b>{L_WP_COMMENT_REPORTED_NOTE}</b><!-- ENDIF --><!-- IF postrow.S_POST_TRASHED -->{REPORTED_IMG} <b>{L_WP_COMMENT_UNTRASHED_NOTE}</b><!-- ENDIF --></td>
								</tr>
								</table>
								<br clear="all" />
							<!-- ENDIF -->
								<div class="entry postbody">{postrow.MESSAGE}</div>
							<!-- IF not S_IS_BOT -->
								<!-- IF postrow.S_POST_ACTIONS and (postrow.U_POST_EDIT or postrow.U_POST_DELETE or postrow.U_POST_TRASH or postrow.U_POST_SPAM or postrow.U_POST_UNSPAM or postrow.U_POST_APPROVE or postrow.U_POST_UNAPPROVE) -->
								<table width="100%" cellspacing="0">
									<tr valign="middle">
										<td class="gensmall" align="right">
										<!-- IF postrow.U_POST_EDIT --><a href="{postrow.U_POST_EDIT}" title="{L_WP_COMMENT_EDIT_EXPLAIN}">{EDIT_IMG}</a><!-- ENDIF -->
										<!-- IF postrow.U_POST_DELETE --><a href="{postrow.U_POST_DELETE}" title="{L_WP_COMMENT_DELETE_EXPLAIN}">{DELETE_IMG}</a><!-- ENDIF -->
										<!-- IF postrow.U_POST_TRASH --><a href="{postrow.U_POST_TRASH}" title="{L_WP_COMMENT_TRASH_EXPLAIN}">{TRASH_IMG}</a><!-- ENDIF -->
										<!-- IF postrow.U_POST_UNTRASH --><a href="{postrow.U_POST_UNTRASH}" title="{L_WP_COMMENT_UNTRASH_EXPLAIN}">{UNTRASH_IMG}</a><!-- ENDIF -->
										<!-- IF postrow.U_POST_SPAM --><a href="{postrow.U_POST_SPAM}" title="{L_WP_COMMENT_SPAM_EXPLAIN}">{SPAM_IMG}</a><!-- ENDIF -->
										<!-- IF postrow.U_POST_UNSPAM --><a href="{postrow.U_POST_UNSPAM}" title="{L_WP_COMMENT_UNSPAM_EXPLAIN}">{UNSPAM_IMG}</a><!-- ENDIF -->
										<!-- IF postrow.U_POST_APPROVE --><a href="{postrow.U_POST_APPROVE}" title="{L_WP_COMMENT_APPROVE_EXPLAIN}">{APPROVE_IMG}</a><!-- ENDIF -->
										<!-- IF postrow.U_POST_UNAPPROVE --><a href="{postrow.U_POST_UNAPPROVE}" title="{L_WP_COMMENT_UNAPPROVE_EXPLAIN}">{UNAPPROVE_IMG}</a><!-- ENDIF -->
										</td>
									</tr>
								</table>
								<!-- ENDIF -->
							<!-- ENDIF -->
								<!-- IF postrow.SIGNATURE -->
								<div class="postbody"><br />_________________<br />{postrow.SIGNATURE}</div>
								<!-- ENDIF -->
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<!-- IF postrow.POST_TAGS or postrow.POST_CATS or postrow.POST_EDIT or postrow.POST_COMENT -->
			<tr class="row2">
				<td class="postmetadata alt notice" colspan="2">
					<b>{L_POST_BY_AUTHOR}</b> <b class="postauthor"<!-- IF postrow.POST_AUTHOR_COLOUR --> style="color: {postrow.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{postrow.POST_AUTHOR}</b><br />
					<!-- IF postrow.POST_TAGS -->{postrow.POST_TAGS}<!-- ENDIF -->
					<!-- IF postrow.POST_CATS -->{postrow.POST_CATS}<!-- ENDIF -->
				</td>
			</tr>
			<!-- ENDIF -->
		</table>
		<br clear="all" />

	<!-- END postrow -->
