    <div id="banner">
    
        <div class="fl">
            <a href="{U_BLOG}" id="logo">{HEADER_IMAGE}</a>
				<h1>{SITENAME}</h1>
				<p>{SITE_DESCRIPTION}</p>
        </div>
        
        <div class="fr">
            <ul class="userlinks">
                <!-- IF S_USER_LOGGED_IN -->
                    <li><a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a></li>
                    <li><a href="{U_PROFILE}">{L_READ_PROFILE}</a></li>
                    <li><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></li>
                <!-- ELSE -->
                    <li><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></li>
                    <!-- IF S_REGISTER_ENABLED -->
                        <li><a href="{U_REGISTER}">{L_REGISTER}</a></li>
                    <!-- ENDIF -->       
                <!-- ENDIF -->
            </ul>
        </div>
        
        <div class="cb"></div>
    
    </div>

<!-- IF HEADER_MENU --><br /><div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>
{HEADER_MENU}
			<span class="corners-bottom"><span></span></span></div>
		</div><br /><!-- ENDIF -->